/*
    CSS Table of Sections
    --------------------------
    ** demo_1
    --------------------------
    ** demo_2
    --------------------------
    ** demo_3
    --------------------------
    ** demo_4
    --------------------------
    ** banner_demo4
    --------------------------
    ** banner_demo5
    --------------------------
    ** banner_demo6
    --------------------------
    ** banner_demo7
    --------------------------
    ** banner_demo8
    --------------------------
    ** banner_title
    --------------------------
    ** demo__charity
    --------------------------
    ** demo__workspace
    --------------------------
    ** demo__software
    --------------------------
    **banner_cotact_one
    --------------------------
    **banner_cotact_four
    -------------------------
    **banner_cotact_five
    --------------------------
    **banner_about
    --------------------------
    **banner_about_two
    --------------------------
    **banner_about_three
    --------------------------
    **banner_bg_pricing
    --------------------------
    **banner_blog_inner
    --------------------------
    **banner_Sblog_default
    --------------------------
    **banner_app_two
    --------------------------
    **banner_personal
    --------------------------
    **blog-banner_with_image
    --------------------------
    **single_blog
    --------------------------
    **banner_app_three
    --------------------------

*/

/*-----------------------------
  demo_1
-----------------------------*/
.demo_1 {
  &.banner_section {

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fef8f0",endColorstr="#fef8f0",GradientType=1);
    height: 100%;
    padding-top: 10rem;
    @include maxMobile {
      padding-top: 6rem;
    }
    .banner_title {
      margin-bottom: 30px;
      .fs36 {
        font-size: 36px;
      }
      h1 {
        color: rgba(255, 255, 255, 0.87);
        font-weight: 600;
        p::before {
          content: "";
          width: 99px;
          height: 89px;
          display: inline-block;
          position: absolute;
          background: url('../img/g12626.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          top: -15px;
          left: -50px;
          z-index: 1;
        }
      }
      p {
        color: rgba(255, 255, 255, 0.6);
        font-size: 24px;
      }
    }
    .image_product {
      position: relative;
      img {
        width: 90%;
        z-index: 1;
        position: relative;
      }
      &:before {
        content: "";
        background-image: url("../img/shape-before-web.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 100%;
        position: absolute;
        top: -5%;
        right: 0;
        z-index: 0;
      }
    }
    .border-box {
      background-image: url("../img/border1.png");
      padding: 40px 60px 40px 20px;
      margin-top: 80px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top center;
      &-ch {
        width: 48px;
        height: 48px;
        background: #FFFFFF;
        border-radius: 8px 0px;
        margin-right: 50px;
        img {
          -ms-transform: translateY(20%);
          transform: translateY(20%);
          height: 34px;
          width: auto;
        }
        @include minMedium {
          width: 70px;
          height: 70px;
          img {
            height: 50px;
            &.first {
              width: auto;
              height: 37px;
              transform: translateY(45%);
            }
          }
        }
      }
      p {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.87);
        padding: 5px 25px 5px 30px;
        margin-bottom: 0;
        &.company-name {
          padding: 7px 0;
        }
        &.take-note {
          font-size: 14px !important;
          color: #F28C24 !important;
        }
      }
      .before-icon {
        display: flex;
        &::before {
          content: "";
          display: inline-flex;
          width: 0; 
          height: 0; 
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;    
          border-left:5px solid #00FFCE;
          position: relative;
          top: 11px;
          left: 15px;
        }
        &.take-note {
          &::before {
            border-left-color: #F28C24;
          }
        }
      }
    }
    .img-group {
      display: flex;
      margin-top: 10px;
      margin-right: 20px;
      margin-left: 30px;
      img {
        border-radius: 4px;
        margin: 0 4px;
      }
    }
    .descrip-banner {
      margin-top: 10px;
    }
    
    .btn-group {
      margin-top: 80px;
      .btn {
        height: 40px;
        &.learn {
          font-weight: 500;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.87);
          padding: 8px 10px;
          min-width: 142px;
        }
      }
      .btn.register {
        color: #000000;
        background: rgba(255, 255, 255, 1);;
        padding: 0 0 0 10px;
        border-radius: 0;
        margin-right: 20px;
        .inside_item {
          background: #00FFCE;
          padding: 8px 10px;
          min-width: 142px;
          font-weight: 600;
          font-size: 16px;
          height: 100%;
        }
      }
    }
    .organizer {
      left: 8vw;
      bottom: 60px;
      @include maxMobile {
        bottom: 65px;
        left: 35vw !important;
      }
      @include maxSmall {
        left: 13vw !important;
        bottom: 90px;
      }
      @include maxSmall2 {
        left: 15vw;
      }
    }
  }
}