

/*-----------------------------
  services_section
-----------------------------*/
.services_section {
  background-image: url("../img/charity/banner-bg/dot-green.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 12vw 0px;
  padding-top: 120px;
  position: relative;
  .img-abs {
    position: absolute;
    right: 0;
    top: 105px;
    z-index: -1;
  }
  .items_serv {
    
    .txt-small {
      margin-bottom: 10px;
      span {
        font-size: 13px;
        color: rgba($dark-color, 0.5);
        font-weight: 400;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 500;
      color: $dark-color;
      margin-bottom: 10px;
    }
    p {
      color: $gray-color;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
  .container .row  {
    align-items: center;
  }
}

/*-----------------------------
  sevice_block
-----------------------------*/
.sevice_block {
  .icon--top {
    margin-bottom: 1.875rem !important;
    img {
      width: 100%;
      height: auto;
    }
  }
}

/*-----------------------------
  save__nature
-----------------------------*/
.save__nature {
  .item__nature {
    border: 1px solid transparent;
    padding: 15px 30px 10px;
    border-radius: 0;
    height: 255px;
    margin-right: auto;
    margin-left: auto;
    @include maxMobile {
      margin-right: auto;
      margin-bottom: 20px;
      &:last-child {
        margin-right: auto !important;
      }
    }
    @include maxSmall {
      margin-bottom: 20px;
    }

    @include maxSmall2 {
      margin-bottom: 20px;
      margin-right: auto;
    }
    &:last-child {

      @include maxSmall {

      }
      @include maxSmall2 {

      }
    }
    @include prefixer(transition, 0.3s, webkit moz o ms);
    .items_serv {
      .icon--top {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 132px;
        height: 105px;
        border-radius: 12px;
        svg {
          width: 24px;
          height: 24px;
          path {
            fill: $white-color;
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: -10px;
          right: -10px;
          width: 60px;
          height: 60px;
          border-radius: 12px;
        }
      }
      .btn__link {
        margin-top: 1.875rem;
        background-color: $lightgreen-color;
        color: $white-color;
        position: relative;
        bottom: -20px;
        opacity: 0;
        @include prefixer(
          transition,
          0.35s cubic-bezier(0.65, 0.05, 0.36, 1),
          webkit moz o ms
        );
      }
      .txt p {
        color: rgba(255, 255, 255, 0.87);
        font-weight: 600;
        font-size: 18px;
      }
    }
    &:nth-of-type(2) {
      .items_serv {
        .icon--top {
          margin-bottom: 1.125rem !important;
          
        }
      }
    }
    &:nth-of-type(3) {
      .items_serv {
        .icon--top {
         width: 100px;
         height: 94px;
        }
      }
    }
    &:nth-of-type(4) {
      .items_serv {
        .icon--top {
          width: 100px;
          height: 94px;
        }
      }
    }
    &:hover {
      .btn__link {
        bottom: 0;
        opacity: 1;
      }
    }
    &.active {
      border-color: #020202;
      background: #020202;
      .btn__link {
        bottom: 0;
        opacity: 1;
      }
    }
  }
}

/*-----------------------------
  section__stories
-----------------------------*/
.section__stories {
  background-image: url("../img/charity/banner-bg/dot-pink.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 4.5vw 25px;
  margin-top: 170px;

  .justify-content-between {
    .row {
      @include maxSmall {
        margin-bottom: 20px;
      }
    }
  }
  .title_sections {
    margin-bottom: 40px;
    h2 {
      font-size: 36px;
    }
  }
  .content {
    padding-right: 0;
    .sub-title {
      font-weight: bold;
      font-size: 24px;
      color: #00FFCE;
      margin-bottom: 0;
    }
    p {
      font-weight: bold;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.87);
      margin-bottom: 7px;
    }
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.87);
    }
  }
  .plus-icon {
    display:inline-block;
    width:15px;
    height:15px;      
    background:
    linear-gradient(rgba(255, 255, 255, 0.87),rgba(255, 255, 255, 0.87)),
    linear-gradient(rgba(255, 255, 255, 0.87),rgba(255, 255, 255, 0.87));
    background-position:center;
    background-size: 100% 5px,5px 100%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
    transform: translateY(60px);
    position: relative;
    right: -20px;
  }

}

.section__team {
  margin-top: 60px;
  padding-bottom: 0;
  .title_sections {
    position: relative;
    margin-bottom: 40px;
    h2 {
      font-size: 36px;
    }
    p {
      &::before {
        content: "";
        width: 89px;
        height: 112px;
        display: inline-block;
        position: absolute;
        background: unset;
        mask-image: linear-gradient(to top, transparent 0%, black);
        border: 1px solid #D07FDD;
        top: -45px;
        left: -65px;
        z-index: -1;
      }
    }
  }
  .conten {
    ul {
      padding-inline-start: 0;
      @include maxMobile {
        padding-inline-start: 20px;
      }
      li {
        list-style: none;
        margin-bottom: 40px;
        position: relative;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.87);
        width: 90%;
        padding-left: 15px;
        &:nth-of-type(2) {
          &::before {
            top: 24px;
            @include maxSmall {
              top: 10px;
            }
          }
        }
        &:nth-of-type(3) {
          &::before {
            top: 24px;
          }
        }
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 1000px;
          background-color: rgba(255, 255, 255, 0.87);
          display: block;
          position: relative;
          left: -30px;
          top: 33px;
          @include maxSmall {
            top: 22px;
          }
        }
      }
      &.en {
        li {
          &::before {
            top: 47px;
          }
          &:nth-of-type(2) {
            &::before {
              top: 33px;
              @include maxSmall {
                top: 19px;
              }
            }
          } 
        }
      }
    }
    .banner-image {
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.section__about {
  position: relative;
  background-image: url("../img/charity/banner-bg/dot-green.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 85vw top;
  margin-top: 100px;
  .xl-only {
    @include minLarge {
      display: flex;
      flex-direction: column;
      align-self: self-end;
      img {
        position: absolute;
        left: 7vw;
        top: 70px;
      }
    }
    @include minLarge2 {
      img {
        left: 10vw;
      }
    }
  }
  @include maxMobile {
    background-position-x: 53vw;
  }
  .block-about {
    display: grid;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    grid-gap: 2%;
    @include maxMobile {
      grid-template-columns: 100% !important;
      grid-gap: 0;
    }
    @include maxSmall {
      grid-template-columns: 49.5% 49.5%;
      grid-gap: 1%;
    }
    .txt-white {
      color: rgba(255, 255, 255, 0.87);
    }
    span.txt-white {
      @include maxSmall {
        color: rgba(255, 255, 255, 0.87);
      }
    }
    p.txt-white {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 7px;
      margin-top: 10px;
      @include maxSmall {
        color: rgba(255, 255, 255, 0.87);
      }
    }
    .block-content {
      background: rgba(74, 74, 74, 0.6);
      border: 1px solid #8B8B8B;
      box-sizing: border-box;
      backdrop-filter: blur(5px);
      border-radius: 5px;
      height: 260px;
      padding: 20px 15px;
      margin-top: 50px;
      p.title {
        font-weight: 600;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.87);   
      }
      p.content {
        font-weight: 500;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.87);
        height: 171px;
        overflow-y: scroll;
      }
    }
  }
  .block-color {
    height: 220px;
    background-color: #350823;
    z-index: -1;
    margin-top: -190px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: unset; 
    border-radius: 4px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);; 
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777777; 
  }
}


.section__priorities {
  overflow: hidden;
  background-image: url("../img/charity/bg-prizes.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 50px;
  background-origin: padding-box;
  @include maxMobile {
    background-position-y: -10px;
    padding-top: 40px;
  }
  .title_sections {
    margin-bottom: 2.5rem;
  }

  .block-left {
    padding: 20px 55px 35px;
    background-image: url("../img/border2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 45px;
    background-origin: padding-box;
    @include maxMobile {
      background-size: cover;
    }

    h4 {
      font-size: 24px;
      font-weight: 700;
    }

  }
  .block-right {
    padding-left: 40px;
    padding-right: 0;
    padding-top: 45px;
    @include maxSmall {
      padding-left: 0;
      margin-top: 40px;
    }
    h5 {
      font-size: 24px;
      font-weight: 700;
    }
    .float-left h5 {
      padding-left: 40px;
      margin-bottom: 20px;

    }
    ul {
      padding-inline-start: 60px;
      @include maxSmall {
        padding-inline-start: 10px;
      }
      li {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.87);
        margin-bottom: 20px;
        list-style: none;
        border-radius: 10px 0px;
        border: 2px solid #00FFCE;
        border-top: 0;
        border-right: 0;
        padding: 15px 41px;
        background: #020202;
        &::before {
          content: "";
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid #00FFCE;
          position: relative;
          top: -6px;
          left: -25px;
        }
      }
    }
  }
  .illustration_pro {
    .d_grid {
      display: grid;
      grid-template-columns: 27% 27% 27%;
      grid-row-gap: 20px;
      grid-column-gap: 9.5%;
      &.img-founder {
        img {
          width: 100%;
          height: auto;
        }
        h5 {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          color: #565656;
          margin-top: 17px;
        }
        p {
          font-weight: normal;
          font-size: 13px;
          line-height: 16px;
          color: #565656;
        }
      }

    }
  }

}

.section__time {
  margin-top: 170px;
  background-image: url("../img/bg-time.png");
  background-repeat: no-repeat;
  background-position: 50vw top;
  background-size: contain;
  @include maxSmall {
    background-image: unset;
  }
  .point__item {
    padding: 0 20px;
    margin-top: 55px;
    color: rgba(255, 255, 255, 0.87);
    .float-left {
      position: relative;
      padding-left: 30px;
      left: 40px;
      &.vi {
        &::before {
          height: 71%;
        }
        @include maxSmall2{
          width: 80%;
        }
      }
      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 76%;
        background-color: #00FFCE;
        position: absolute;
        left: 1px;
        top: 10px;
        @include maxMobile {
          height: 80%;
        }
      }
    }
    .img-vi {
      height: 301px;
    }
    .item__ico {
      margin-bottom: 45px;
      position: relative;
      &::before {
        content: "";
        width: 11px;
        height: 11px;
        border-radius: 1000px;
        position: absolute;
        background-color: #00FFCE;
        left: -34.34px;
        top: 8px;
        display: inline;
      }
      h5 {
        padding-left: 0 !important;
      }
      .row {
        margin-left: 0;
        margin-right: 0;
        align-items: baseline;
        h5 {
          margin-right: 10px;
          margin-bottom: 0;
        }
        span {
          font-size: 13px;
        }
        p {
          color: #00FFCE;
          font-size: 18px;
          font-weight: 500;
          margin-left: 10px;
          @include maxMobile {
            // width: min-content;
          }
          &.time-info {
            &::before {
              content: "";
              display: inline-block;
              width: 10px;
              height: 2px;
              background: #00FFCE;
              position: absolute;
              bottom: 11px;
              left: -15px;
              @include maxMobile {
                bottom: unset;
                top: 15px;
              }
            }
            &.long-content {
              position: relative;
              top: -10px;
              &::before {
                top: 25px;
              }
            }
          }
        }
      }
    }
  }
  .img-group {
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: auto;
    img {
      border-radius: 4px;
      margin: 0 4px;
    }
    .border-box {
      &-ch {
        width: 105px;
        height: 105px;
        background: rgba(255, 255, 255, 1);
        border-radius: 8px 0px;
        margin-right: 20px;
        @include maxMobile {
          width: 70px;
          height: 70px;
          img {
            height: 47px !important;
            transform: translateY(20%) !important;
          }
        }
        img {
          -ms-transform: translateY(35%);
          transform: translateY(35%);
          height: 60px;
          width: auto;
        }
      }
    }
  }
  .block-judging {
    @include maxSmall {
      background-image: url("../img/bg-time.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding-left: 80px;
    }
  }
}


