
/*-----------------------------
  section__stories
-----------------------------*/
.section__stories {
  background-image: url("../img/charity/banner-bg/dot-pink.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 14.5vw 25px;
  margin-top: 60px;

  .justify-content-between {
    .row {
      @include maxSmall {
        margin-bottom: 20px;
      }
    }
  }
  .title_sections {
    margin-bottom: 40px;
    h2 {
      font-size: 36px;
    }
  }
  .content {
    padding-right: 0;
    .sub-title {
      font-weight: bold;
      font-size: 24px;
      color: #33AAA4;
      margin-bottom: 0;
    }
    p {
      font-weight: bold;
      font-size: 18px;
      color: #565656;
      margin-bottom: 7px;
    }
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #565656;
    }
  }
  .plus-icon {
    display:inline-block;
    width:15px;
    height:15px;      
    background:
    linear-gradient(#565656,#565656),
    linear-gradient(#565656,#565656);
    background-position:center;
    background-size: 100% 5px,5px 100%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
    transform: translateY(60px);
    position: relative;
    right: -20px;
  }

}

.section__team {
  background-image: url("../img/charity/banner-bg/dot-green.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 48.5vw bottom;
  margin-top: 60px;
  padding-bottom: 0;
  .title_sections {
    position: relative;
    margin-bottom: 40px;
    h2 {
      font-size: 36px;
    }
    p {
      &::before {
        content: "";
        width: 89px;
        height: 112px;
        display: inline-block;
        position: absolute;
        background: #DB9591;
        top: -50px;
        left: -65px;
        z-index: -1;
      }
    }
  }
  .conten {
    ul {
      padding-inline-start: 0;
      @include maxMobile {
        padding-inline-start: 20px;
      }
      li {
        list-style: none;
        margin-bottom: 40px;
        position: relative;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #565656;
        width: 90%;
        &:nth-of-type(2) {
          &::before {
            top: 24px;
            @include maxSmall {
              top: 10px;
            }
          }
        }
        &:nth-of-type(3) {
          &::before {
            top: 24px;
          }
        }
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 1000px;
          background-color: #565656;
          display: block;
          position: absolute;
          left: -20px;
          top: 33px;
          @include maxSmall {
            top: 22px;
          }
        }
      }
    }
    .banner-image {
      margin-top: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.section__about {
  position: relative;
  .block-about {
    .txt-white {
      color: #FFFFFF;
    }
    span.txt-white {
      @include maxSmall {
        color: #565656;
      }
    }
    p.txt-white {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 7px;
      margin-top: 10px;
      @include maxSmall {
        color: #565656;
      }
    }
    .block-content {
      background: rgba(249, 249, 249, 0.63);
      border: 1px solid #F9F9F9;
      box-sizing: border-box;
      backdrop-filter: blur(5px);
      border-radius: 5px;
      height: 260px;
      padding: 20px 15px;
      margin-top: 50px;
      p.title {
        font-weight: 600;
        font-size: 18px;
        color: #565656;   
      }
      p.content {
        font-weight: 500;
        font-size: 16px;
        color: #565656;
        height: 171px;
        overflow-y: scroll;
      }
    }
  }
  .block-color {
    height: 240px;
    background-color: #33AAA4;
    z-index: -1;
    margin-top: -215px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #777777; 
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777777; 
  }
}


